body{
    max-width: calc(1174px + 30px);
    margin: 0 auto;
    padding: 0px 20px;
    background: var(--White, #FFF);
    font-family: 'Manrope';
}
header{
    height: 120px;
}
header figure img{
    height: 60px;
}
 button{
    border-radius: 50px;
    background: var(--Blue, #1700FF);
    color: white;
    font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.3px;
border: none;
}
header span{
    color: var(--Blue, #1700FF);
    font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.5px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 6px;
}
nav ul {
    list-style-type: none;
    display: flex;
}
nav ul li{
    padding: 12px;
}
.heroSection{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 80px 0px;
}

.theme-switcher{
    width: 140px;
    height: 45px;
    border: 2px solid black;
    border-radius: 8px;
}
.switch-ball{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid black;
   }
.heroSection__content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 12px;
 }
 .heroSection__content #model{
height: 306px;
width: 300px;
transform: rotate(-11.853deg);
flex-shrink: 0;
border-radius: 20px;
border: 1.5px dashed var(--Blue, #1700FF);
}
.heroSection__content figure {
    display: flex;
    height: 306px;
    width: 300px;
    transform: rotate(11.853deg);
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background: #E8E6FF;
    position: relative;
}

.heroSection__content figure img {
    position: absolute;
    height: 350px;
    width: 350px;
    top: -20%;
    object-fit: contain;
}
h1{
    color: var(--Black, #111018);
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 78px; 
    letter-spacing: 0.3px;
}


.joinsToday{
    display: flex;
    gap: 12px;
    
}

.joinsToday :first-child{
    display: inline-flex;
    padding: 16px 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    background: var(--Blue, #1700FF);color: white;
}
.joinsToday :nth-child(2){
    padding: 16px 50px;
    border-radius: 50px;
border: 1.4px solid var(--Blue, #1700FF);
}
.circular-image{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 22px;
}
.circular-image img{
    border-radius: 50%;
    object-fit: cover;
}
.benefits{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}
.benefits h3{
    color:  #1700FF;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 16px; /* 100% */
letter-spacing: 0.3px;
}
.benefits p{
    color:#111018;
text-align: center;
font-size: 40px;
font-style: normal;
font-weight: 500;
line-height: 54px; /* 135% */
letter-spacing: 0.3px;
}
.benefits .benefit__sector{
display: grid;
grid-template-columns: repeat(4,1fr);

gap: 12px;
}
 .benefit__sector>div{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 20px 16px;
    border-top:2px solid var(--c) ;

}
.benefit__sector div>div{
    height: 30px;
    width: 30px;
    background-color: var(--c);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.benefit__sector h4{
    color:  #111018;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 133.333% */
letter-spacing: 0.3px;
}
.benefit__sector p{
    color:  #4F4E55;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.3px;
    text-align: left;
}

.aboutUs{
    display: flex;
   
    height: 100vh;
    
}
.aboutUs__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 102px;
    width: 100%;
}
.aboutUs #model{
    height: 306px;
    width: 300px;
    transform: rotate(-11.853deg);
    flex-shrink: 0;
    border-radius: 20px;
    border: 1.5px dashed var(--Blue, #1700FF);
    }
    .aboutUs figure {
        display: flex;
        height: 306px;
        width: 300px;
        transform: rotate(11.853deg);
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        background: #E8E6FF;
        position: relative;
    }
    
    .aboutUs figure img {
        position: absolute;
        height: 350px;
        width: 350px;
        top: -20%;
        object-fit: contain;
    }
.aboutUs__content .joinUs{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
span{
    color: #1700FF;
    font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 16px; /* 100% */
letter-spacing: 0.3px;
}
.joinUs h4{
    color:  #111018;
font-size: 40px;
font-style: normal;
font-weight: 500;
line-height: 54px; /* 135% */
letter-spacing: 0.3px;
}
.joinUs p{
    color:  #4F4E55;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 137.5% */
letter-spacing: 0.3px;
}
.joinUs button{
    display: flex;
padding: 16px 50px;
justify-content: center;
align-items: center;
gap: 10px;
}
.courses h4{
    font-size: 40px;
font-style: normal;
font-weight: 500;
line-height: 44px; /* 110% */
letter-spacing: 0.3px;
}
.courses{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.courses p{
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 137.5% */
letter-spacing: 0.3px;
}
.courses .courses__content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.courses__card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;

}
button{
    padding: 12px 16px;
}
.courses__card div{
    padding: 16px;
    border-radius: 8px;
background:  #FFF;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.courses__card button{
    display: flex;
padding: 10px 12px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
background: var(--c);
}

.ourTestinomial{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 150px 150px;
}
.ourTestinomial__content{
display: flex;
justify-content: center;
align-items: center;
}
.ourTestinomial__card{
    display: grid;
grid-template-columns: repeat(3,300px);

}
.ourTestinomial__card div{
    
 border-radius: var(--borderRadius);
flex-shrink: 0;
border: 2px solid black;
display: flex;
justify-content: center;
align-items: center;
padding: 117px 34px;
flex-direction: column;
box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.enroll{
    padding: 12px 12px;
    justify-content: space-between;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    gap: 22px;
}
input{
    display: block;
    height: 45px;
width: 100%;
}
.formContent{
    display: flex;
    gap: 4px;
}
#female,#male{
    height: 30px;
    width: 30px;
    border-radius: 12px;
}


.error{
    animation: vibrate 0.4s ease-in-out 0s 2;
    border: 2px solid red;
}
#loginBox{
    width: 300px;
      height: 300px;
      display: none;
      border: 2px solid black;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto; 
      justify-content: center;
      align-items: center;
      position: absolute;
      z-index: 1;
      border-radius: 12px;
      background: rgba( 0, 0, 0, 0.4 );
      box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
      backdrop-filter: blur( 8px );
      -webkit-backdrop-filter: blur( 8px );
      border-radius: 10px;
      border: 1px solid rgba( 255, 255, 255, 0.18 );
}
#loginBox input{
    width: 250px;
}

#loginBox> button{
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 28px;
}
footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    
}
footer ul{
    list-style-type: none;
}
footer ul li{
    padding: 8px;
}
#mobile{
    display: none;
}
a{
    text-decoration: none;
}
a:hover{
    background-color: black;
    color: azure;
}
@media screen and (max-width:650px) {
   h1,h2,h3,h4{
    font-size: 32px;

   }
   .aboutUs #model{
    height: 206px;
    width: 200px;
    transform: rotate(-11.853deg);
    flex-shrink: 0;
    border-radius: 20px;
    border: 1.5px dashed var(--Blue, #1700FF);
    }
   .joinsToday{
    display: flex;
    flex-direction: column;
    gap: 12px;
    
}
   .aboutUs{
    height: 100%;
    padding: 30px 30px;
   }
   .aboutUs__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 102px;
    width: 100%;
}
   p{
    font-size: 16px;
   }
   .benefits .benefit__sector{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    
    gap: 12px;
    }
    .ourTestinomial{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 6px;
    }
    .ourTestinomial__content{
    display: flex;
    flex-direction: column;
    padding: 0px;
    }
    .ourTestinomial__card{
        display: grid;
    grid-template-columns: repeat(1,300px);
    
    }
    

.courses{
    display: flex;
    justify-content: center;
    align-items: center;
}


.courses__card{
    display: grid;
    grid-template-columns: repeat(1,200px);
    justify-content: center;
    align-items: center;

}

    .heroSection{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 40px;
    }
    .heroSection__content{
       align-items: center; 
        display: flex;
        flex-direction: column-reverse;
     }
    
    h1{
        font-size: 32px;
        font-weight: 900;
    }
    #model{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
        border: 2px solid black;
        border-style: dotted;
       
    }
  .heroSection  figure{
       
        padding: 8px;
        border: 2px solid red;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
 .heroSection   figure img{
max-width: 100%;
max-height: 100%;
object-fit: contain;
border-radius: 50%;

    }
    footer{
        display: flex;
        flex-direction: column;
    }
    form{
        display: flex;
        flex-direction: column;
       
    }
    input{
        display: block;
        height: 45px;
    width: 100%;
    }
    
    .formContent{
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
    #laptop{
        display: none;
    }
    #mobile{
        display: block;
        float: right;
    }
}

@keyframes vibrate {
    0% {
      transform: translate(1px, 1px) rotate(0deg);
    }
    20% {
      transform: translate(-3px, 0px) rotate(1deg);
    }
    40% {
      transform: translate(1px, -1px) rotate(1deg);
    }
    60% {
      transform: translate(-3px, 1px) rotate(0deg);
    }
    90% {
      transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
      transform: translate(1px, -2px) rotate(-1deg);
    }
  }