/* Add this CSS to your HTML file or include it in a separate CSS file */

body {
    font-family: Arial, sans-serif;
  
}

#studentTable {
    width: 100%;
    height: auto;
    border-collapse: collapse;
    overflow-y: scroll;
    max-height: 100vh;

}

#studentTable th, #studentTable td {
    padding: 10px;
    text-align: left;
}

#studentTable thead {
    background-color: #f2f2f2;
}

#studentTable tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

#studentTable th {
    background-color: #4CAF50;
    color: white;
}
/* .totalStudents{
    width: 200px;
    height: 200px;
    border-radius: 12px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */
.sideNav{
    width: 300px;
    height: 100vh;
    border: 2px solid black;
}
.showButton{
    display: flex;
    gap: 12px;
}
.sideBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100vh;
    gap: 12px;
    border-radius: 12px;
}
.container{
    max-width: calc(1174px + 30px);
    padding: 0px 15px;
    margin: 0 auto;
}
.container__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}
#search-form{
    display: flex;
     position: relative;
}
input{
    width: 100%;
    height: 46px;
}
#search-form button{
    position: absolute;
    right: 0;
    top: 0;
    height: 45px;
background-color: red;
border: none;
}
button{
    padding: 8px 8px;
    border-radius: 8px;
    background-color: skyblue;
}
