/* Add this CSS to your HTML file or include it in a separate CSS file */

body {
    font-family: Arial, sans-serif;
    display: flex;
  
}
header{
}

#studentTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    overflow-y: scroll;
}

#studentTable th, #studentTable td {
    padding: 10px;
    text-align: left;
}

#studentTable thead {
    background-color: #f2f2f2;
}

#studentTable tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

#studentTable th {
    background-color: #4CAF50;
    color: white;
}
.totalStudents{
    width: 200px;
    height: 200px;
    border-radius: 12px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sideNav{
    width: 300px;
    height: 100vh;
    border: 2px solid black;
}
.container{
    max-width: calc(1174px + 30px);
    padding: 0px 15px;
}
.container_content{
    display: flex;
}